@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 7% 11%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --text-100: 38 10% 23%;
    --text-200: 40 9% 13%;
    --text-300: 45 7% 11%;
    --primary: 34 100% 97%;
    --primary-100: 34 100% 97%;
    --primary-200: 36 27% 89%;
    --primary-300: 36 11% 74%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --whtc: 34.29 100% 97.25%;
    --shadow-100: 54.42 22.99% 63.33%;
    --shadow-200: 54.55 14.04% 46.08%;
    --shadow-300: #737158;
    --black-100: #3f3b34;
    --black-200: #24221e;
    --black-300: 40 8% 11%;
  }

  .dark {
    --background: 45 7% 11%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .text-stroke {
    -webkit-text-stroke: 1px #ebe5dc;
    paint-order: stroke fill;
    color: #1d1c19;
  }

  .text-stroke-2 {
    -webkit-text-stroke: 2px #ebe5dc;
    paint-order: stroke fill;
    color: #1d1c19;
  }

  .text-stroke-3 {
    -webkit-text-stroke: 3.5px #ebe5dc;
    paint-order: stroke fill;
    color: #1d1c19;
  }

  .text-stroke-5 {
    -webkit-text-stroke: 5px #ebe5dc;
    paint-order: stroke fill;
    color: #1d1c19;
  }

  .embla {
    overflow: hidden;
    transform: rotate(5deg);
  }

  .embla__container {
    display: flex;
    align-items: center;
  }

  .embla__slide {
    flex: 0 0 60%;
    min-width: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .for_benefit > .embla__slide {
    flex: 0 0 45%;
    margin-left: 30px;
    margin-right: 30px;
  }
  .for_flashcard > .embla__slide {
    flex: 0 0 calc(25vw * 1.65);
    margin-left: -5px;
    margin-right: -5px;
  }
  .for_flashcard > .slide_is_selected {
    flex: 0 0 35%;
  }
  /* @media screen and (min-width: 768px) {
    .for_flashcard > .embla__slide {
      flex: 0 0 35%;
    }
    .for_flashcard > .slide_is_selected {
      flex: 0 0 25%
    }
  } */
  @media screen and (max-width: 1024px) {
    .embla__slide {
      flex: 0 0 35%;
    }
  }

  @media screen and (min-width: 1024px) {
    .embla {
      transform: rotate(0deg);
    }
    .for_flashcard {
      display: flex;
      flex-direction: column;
    }
    .for_flashcard > .embla__slide {
      flex: 0 0 50%;
    }
  }

  li {
    @apply md:mx-1 md:px-1 lg:mx-2 lg:px-1 xl:mx-3 xl:px-2;
  }

  .srifoton-header-main {
    @apply text-stroke-2 md:text-stroke-3 lg:text-stroke-5 text-[3rem] md:text-[5rem] lg:text-[8rem] 2xl:text-[200px];
  }

  .srifoton-header {
    @apply text-2xl md:text-3xl xl:text-4xl min-[1920px]:text-[42px];
  }

  .srifoton-text {
    @apply font-ponnala text-sm xl:text-xl min-[1920px]:text-2xl;
  }

  .srifoton-text-sm {
    @apply lg: 2xl: !text-lg !text-sm !text-xl;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* width, taken from GeeksforGeeks */
  .custom-scrollbar::-webkit-scrollbar {
    height: 10px;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #868365;
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
  }

  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

  /* For Flipcards */
  .flip-card {
    background-color: transparent;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  .spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
  }

  .spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
  }

  .spinner-loading {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 8px solid #ddd;
    border-radius: 50%;
    border-top-color: #868365;
    animation: spin 1s ease-in-out infinite;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .admin-section {
    margin-bottom: 1rem;
  }
}
